/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap */
    


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header-wrapper{
        padding-top: 40px;
    }
    .header-wrapper .header-title{
        /*font-family: 'Karma', serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Raleway', sans-serif;*/
        font-family: 'Raleway', sans-serif;
        font-size: 4em;
        font-weight: 300;
        color: #363636;
        display: inline-block;
        text-align: left;
    }
    .header-wrapper a{
        text-decoration: none;
    }
    
    .list-wrapper{
        font-family: 'Raleway', sans-serif;
    }
    .list-wrapper .list-title{
        font-size: 2em;
        color: #4b4b4b;
        font-weight: 400;
        padding-bottom: 10px;
        padding-top: 60px;
    }
    .list-projects{
        
    }
    .list-projects a{
        text-decoration: none;
        color: #646464;
        font-weight: 400;
        font-size: 1.3em;
        -webkit-transition: all .5s;
        transition: all .5s;
        border-bottom: 1px dotted #757575;
    }
    .list-projects a:hover{
        background-color: #646464;
        color: #f4f4f4;
    }
    
    .list-profiles{
        color: #646464;
        font-weight: 400;
        font-size: 1.3em;
    }
    .list-profiles a{
        text-decoration: none;
        color: #646464;
        -webkit-transition: all .5s;
        transition: all .5s;
        border-bottom: 1px dotted #757575;
    }
    .list-profiles a:hover{
        background-color: #646464;
        color: #f4f4f4;
    }
    ul{
        list-style-type: none;
        padding: 0;
    }
}
